.git
.env
.env.*
!.env.example
vendor
node_modules
tests
docs
tmp
storage/logs/*
storage/framework/cache/*
storage/framework/sessions/*
storage/framework/views/*
database/*.sqlite
database/*.sqlite-*
public/storage
public/hot
Dockerfile
.dockerignore
